body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e9ecf1;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Serif 4', serif;
}

.container {
    background-color: #f8f8f8;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 400px;
    max-width: 800px;
    margin: 20px;
}

.button {
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: rgb(228, 236, 204);
    font-family: 'Source Serif 4', serif;
}

.button:hover {
    background-color: #dabbda;
}

.input {
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

ul {
    background-color: white;
    border-radius: 12px;
    padding: 5px;
}

li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 20px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    text-align: center;
}

.sidebar a {
    display: block;
    font-size: larger;
    text-decoration: none;
    padding: 20px;
}

.sidebar a:first-child {
    margin-top: 60px;
}

a {
    color: black;
    margin-right: 10px;
}

a:hover, .add-challenge-button:hover {
    color: rgb(250, 182, 193);
}

.bad-input {
    background-color: #fad3d3;
}

.errorNotification {
    color: red;
}

.true {
    background-color: #f8f8f8;
}

.links {
    text-align: center;
    margin-bottom: 30px;
}

.scrollable-challenges {
    overflow-y: auto;
    max-height: 800px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e9ecf1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #dbe0e7;
}