body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eae9f1;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #f8f8f8;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40%;
    max-width: 800px;
    margin: 20px;
}

.button {
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: rgb(228, 236, 204);
}

.button:hover {
    background-color: #dabbda;
}

.input {
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;

}

li {
    list-style-type: none;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #edf2f4;
    text-align: center;
}
.sidebar a {
    display: block;
    font-size: larger;
    text-decoration: none;
    margin-bottom: 20px
}

.sidebar a:first-child {
    margin-top: 60px;
}

a {
    color: black;
    margin-right: 10px;
}

a:hover,
.sidebar-button:hover {
    color: rgb(250, 182, 193);
}

.sidebar-button {
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

.bad-input {
    background-color: #fad3d3;
}

.errorNotification {
    color: red;
}