.container {
    background-color: #edf2f4;
    padding: 10px;
    padding-bottom: 60px;
    padding-top: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 90%;
    margin-top: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    height: 30px;
}

th.month-date-column {
    width: 100px;
}

a {
    color: black;
}

