.container {
    background-color: #f8f8f8;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 20%;
    max-width: 90%;
    margin-top: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    max-width: 100%;
}

th, td {
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
}

a {
    color: black;
}

tbody {
    font-size: smaller;
}

.month-links {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.month-links a, h1 {
    margin-right: 50px;
}

.month-links a {
    margin-top: 30px;
    text-decoration: none;
}

