{% extends "day.html" %}
{% block title %}Challenges{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/challenges.css">
    <div id="listOfChallenges" class="challenges-and-button">
        <div class="container">
            {% if error %}
                <div class="errorNotification">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            <h2>Join challenges!<h2>
            <div class="challenges scrollable-challenges">
                {% for challenge in challenges %}
                <div class="challenge">
                    <h3>{{ challenge.title }}</h3>
                    <p/>
                    <p>{{ challenge.description}}</p>
                    <p/>
                    <p>{{ challenge.start_date }} - {{ challenge.end_date }}</p>
                    <p/>
                    {% if challenge in user_joined %}
                    <form action="/leave_challenge" method="POST">
                        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                        <button type="submit" class="challenge-button joined" onmouseover="this.innerHTML = 'Leave Challenge'" onmouseout="this.innerHTML = 'Joined!'">Joined!</button>
                    </form>  
                    {% else %}
                    <form action="/join_challenge" method="POST">
                        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                        <button type="submit" class="challenge-button">Join Challenge!</button>
                    </form>    
                    {% endif %}            
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="add-challenge-button" id="formButton" onClick="showForm()">Create Challenge</button>
    </div>
    <div id="challengeForm" class="container hidden">
        <form action="/challenges" method="POST">
            <h2>Create challenge!</h2>
            <p id="errorNotification" class="errorNotification"></p>
            <p>Title:<br>
            <input id="title" type="text" class="input" name="title"></p>
            <p>Description:<br>
            <textarea id="description" type="text" class="input description-input" name="description"></textarea></p>
            <p>Goal:</p>
            <div>
                <input type="text" class="input" name="goal" placeholder="(e.g. 10,000 steps, read 10 pages, no added sugar) ">
                <select class="input" name="goal_frequency">
                    <option value="day">daily</option>
                    <option value="week">weekly</option>
                    <option value="month">monthly</option>
                </select>
            </div>
            <p>Challenge duration:<br>
                <select class="input" name="duration">
                    <option value="1">one week</option>
                    <option value="2">two weeks</option>
                    <option value="3">three weeks</option>
                    <option value="4">one month</option>
                    <option value="5">two months</option>
                    <option value="6">three months</option>
                    <option value="7">four months</option>
                    <option value="8">six months</option>
                    <option value="9">a year</option>
                </select></p>
            <p>Start date:<br>
            <input type="date" class="input date-input" name="start_date"></p>
            <p>End date:<br>
            <input type="date" class="input date-input" name="end_date"></p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
            <input type="submit" class="button" value="Create">
        </form>
        <button class="button" id="closeFormButton" onClick="closeForm()">Return</button>
    </div>
    <div id="userChallenges" class="user-challenges">
        {% if challenges %}
        <div class="container">
            <h2>Ongoing Challenges</h2>
            <div class="scrollable-challenges">
                {% for challenge in user_challenges_data %}
                <li>
                    <h3>{{ challenge[1] }}</h3>
                    <ul>
                        Goal: {{ challenge[3] }} {{ challenge[4] }}
                    </ul>
                    <ul>
                        Progress:
                        {% for item in progress %}
                            {% if item[0] == challenge[0] %}
                                {{ item[1] }}
                            {% endif %}
                        {% endfor %}
                        / {{ challenge_durations[challenge[5]] }}
                    </ul>
                </li>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if old_data %}
        <div class="container">
            <h2>Past Challenges</h2>
            <div class="scrollable-challenges">
                {% for challenge in old_data %}
                <li>
                    <h3>{{ challenge[1] }}</h3>
                    <ul>
                        Goal: {{ challenge[3] }} {{ challenge[4] }}
                    </ul>
                    <ul>
                        Result:
                        {% for item in progress %}
                            {% if item[0] == challenge[0] %}
                                {{ item[1] }}
                            {% endif %}
                        {% endfor %}
                        / {{ challenge_durations[challenge[5]] }}
                    </ul>
                    <ul>
                        End date: {{ challenge[7] }}
                    </ul>
                </li>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <script>
        function showForm() {
            var form = document.getElementById("challengeForm");
            var list = document.getElementById("listOfChallenges");
            var challenges = document.getElementById("userChallenges");
            form.classList.remove("hidden");
            list.classList.add("hidden");
            challenges.classList.add("hidden");
        }
        function closeForm() {
            var form = document.getElementById("challengeForm");
            var list = document.getElementById("listOfChallenges");
            var challenges = document.getElementById("userChallenges");
            form.classList.add("hidden");
            list.classList.remove("hidden");
            challenges.classList.remove("hidden");
        }
        document.getElementById("title").addEventListener("input", function() {
            var title = this.value
            var button = document.getElementById("submitButton")
            var error = document.getElementById("errorNotification")

            if (title.length > 30) {
                this.classList.add("bad-input")
                error.textContent = "Title must be shorter"
                button.disabled = true
            } else {
                this.classList.remove("bad-input")
                error.textContent = ""
                button.disabled = false
            }
        })
        document.getElementById("description").addEventListener("input", function() {
            var description = this.value
            var error = document.getElementById("errorNotification")

            if (description.length > 200) {
                this.classList.add("bad-input")
                error.textContent = "Description must be shorter"
            } else {
                this.classList.remove("bad-input")
                error.textContent = ""
            }
        })
    </script>
{% endblock %}