<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Daily View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>
    <div class="container">
        {% block content %}
        <div class="links">
            <h2>{{ date }}</h2>
            <a href="/day?days={{ days-1 }}">Previous Day</a>
            <a href="/day?days={{ days+1 }}">Next Day</a>
            <a href="/month?date={{ date }}">Monthly View</a>
        </div>
        {% if form_status == True %}
        <ul>
            {% for habit in habits %}
            <li>
                {% if habit.habit_name == 'mood' %}
                    <span>
                        {{ habit.habit_name }}:
                        {% if habit.number_value == 1 %}
                            <span>😞</span>
                        {% elif habit.number_value == 2 %}
                            <span>😕</span>
                        {% elif habit.number_value == 3 %}
                            <span>😌</span>
                        {% elif habit.number_value == 4 %}
                            <span>😊</span>
                        {% else %}
                            <span>😄</span>
                        {% endif %}
                    </span>
                {% else %}
                    {% if habit.number_value %}
                        {% if habit.habit_name =='sleep' %}
                        {{ habit.habit_name }}: {{ habit.number_value }}h
                        {% else %}
                        {{ habit.habit_name }}: {{ habit.number_value }} 
                        {% endif %}
                    {% else %}
                        {% if habit.boolean_value %}
                            {{ habit.habit_name }}: ✔️
                            <span class="checked-icon"></span>
                        {% else %}
                            {{ habit.habit_name }}: ✗
                            <span class="unchecked-icon"></span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <a href="/edit_habits?date={{ date }}&days={{ days }}">Edit</a>
        <br/>
        {% else %}
            <form action="/habit_status" method="POST">
                <br/>
                {% for habit in habits %}
                <li>
                    {{ habit.habit_name }}
                    <input type="hidden" name="track_value_{{ habit.id }}" value="{{ habit.track_number_value }}">
                    <input type="hidden" name="habit_id_{{ habit.id }}" value="{{ habit.id }}">
                    {% if habit.track_number_value %}
                        {% if habit.habit_name == 'mood' %}
                        <input type="number" class="input" name="number_{{ habit.id }}" placeholder="1-5 (1=bad 5=good)">
                        {% else %}
                        <input type="number" class="input" name="number_{{ habit.id }}">                     
                        {% endif %}
                    {% else %}
                        <input type="checkbox" class="input" name="checkbox_{{ habit.id }}" value="true">
                    {% endif %}
                </li>
                {% endfor %}
                <input type="hidden" name="day" value="{{ days }}">
                <input type="hidden" name="date" value="{{ date }}">
                <input type="submit" class="button" value="Done">
            </form>
        {% endif %}
        {% endblock %}
        </br>
        <a href="/habits">Change habits you want to track</a>
        <br/>
        <a href="/logout">Log out</a>
    </div>
</body>
</html>
