<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Habits</title>
        <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        <h2>Choose the habits you want to track!</h2>
        <form action="/habits" method="post">
            {% for habit in ['sleep', 'workout', 'steps', 'study', 'journal', 'meditate', 'mood'] %}
            <p>{{ habit.capitalize() }}<br>
            <input type="checkbox" class="input" name="{{ habit }}" value="true"
            {% if habit in habits %} checked {% endif %}>
            {% endfor %}
            <p>
            <input type="submit" class="button" value="Done">
        </form>
        {% if habits %}
        <a href="/day">Return</a>
        {% endif %}
        </div>
    </body>
</html>