<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Habits</title>
    </head>
    <body>
        <h2>Choose the habits you want to track!</h2>
        <form action="/habits" method="post">
            <p>Sleep (hours)<br>
            <input type="checkbox" class="input" name="sleep" value="true">
            <p>Workout<br>
            <input type="checkbox" class="input" name="workout" value="true">
            <p>Steps<br>
            <input type="checkbox" class="input" name="steps" value="true">
            <p>Study<br>
            <input type="checkbox" class="input" name="study" value="true">
            <p>Journal<br>
            <input type="checkbox" class="input" name="journal" value="true">
            <p>Meditate<br>
            <input type="checkbox" class="input" name="meditate" value="true">
            <p>Mood<br>
            <input type="checkbox" class="input" name="mood" value="true">
            <p>
            <input type="submit" class="button" value="Done">
        </form>
    </body>
</html>