<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
    <main>
        {% block content %}
        {% if session.username %}
        <p>logged in as {{ session.username }} </p>
        <a href="/logout">Log out</a>

        
        {% else %}
        {% if notification %}
        <p id="notification" class="notification"> Error: {{ message }}</p>
        {% endif %}
        <div class="container">
            <h2>Log in</h2>
            <form action="/login" method="POST">
                <p>Username:<br>
                <input type="text" class="input" name="username"></p>
                <p>Password:<br>
                <input type="password" class="input" name="password"></p>
                <input type="submit" class="button" value="Log in">
            </form>
        </div>
        {% endif %}
        {% endblock %}
    </main>
    <script>
        window.onload = function() {
            var notificationMessage = document.getElementById("notification")
            if (notificationMessage) {
                setTimeout(function() {
                    notificationMessage.style.display = "none"
                }, 5000)
            }
        };
    </script>
    </body>
</html>
