<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Monthly View</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/month.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="sidebar">
        <a href="/" {% if request.path == '/day' or request.path.startswith('/edit_habits') %}class="true"{% endif %}>Home</a>
        <a href="/challenges" {% if request.path == '/challenges' %}class="true"{% endif %}>Challenges</a>
        <a href="/month?date={{ date }}" {% if request.path.startswith('/month') %}class="true"{% endif %}>Monthly View</a>
        <a href="/logout">Log out</a>
    </nav>
    <div class="container">
        <div class="month-links">
            <a href="/month?month={{ previous_month }}">←</a>
            <h1>{{ month }}</h1>
            <a href="/month?month={{ next_month }}">→</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    {% for day in range(first_day.day, last_day.day + 1) %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for habit in habits %}
                    <tr>
                        <td>{{ habit }}</td>
                        {% for day in range(1, last_day.day + 1) %}
                            {% set key = (habit, day) %}
                            {% set data_list = habit_data.get(key, []) %}
                            {% if data_list %}
                                {% set data = data_list[0] %}
                                {% if data[2] == 'mood' %}
                                    {% if data[5] == 1 %}
                                        <td>😞</td>
                                    {% elif data[5] == 2 %}
                                        <td>😕</td>
                                    {% elif data[5] == 3 %}
                                        <td>😌</td>
                                    {% elif data[5] == 4 %}
                                        <td>😊</td>
                                    {% elif data[5] == 5 %}
                                        <td>😄</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% else %}
                                    {% if data[4] == True %}
                                        {% if data[5] %}
                                            <td>{{ data[5] }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% else %}
                                        {% if data[6] == True %}
                                            <td>✔️</td>
                                        {% elif data[6] == False %}
                                            <td>✗</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <br />
    </div>
</body>
</html>
