{% extends "day.html" %}
{% block title %}Monthly View{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/month.css">
    <div class="container">
        <div class="month-links">
            <a href="/month?month={{ previous_month }}">←</a>
            <h1>{{ month }}</h1>
            <a href="/month?month={{ next_month }}">→</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    {% for day in range(first_day.day, last_day.day + 1) %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for habit in habits %}
                    <tr>
                        <td>{{ habit }}</td>
                        {% for day in range(1, last_day.day + 1) %}
                            {% set key = (habit, day) %}
                            {% set data_list = habit_data.get(key, []) %}
                            {% if data_list %}
                                {% set data = data_list[0] %}
                                {% if data[2] == "mood" %}
                                    {% if data[5] == 1 %}
                                        <td>😞</td>
                                    {% elif data[5] == 2 %}
                                        <td>😕</td>
                                    {% elif data[5] == 3 %}
                                        <td>😌</td>
                                    {% elif data[5] == 4 %}
                                        <td>😊</td>
                                    {% elif data[5] == 5 %}
                                        <td>😄</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% else %}
                                    {% if data[4] == True %}
                                        {% if data[5] %}
                                            <td>{{ data[5] }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% else %}
                                        {% if data[6] == True %}
                                            <td>✔️</td>
                                        {% elif data[6] == False %}
                                            <td>✗</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
    </div>
{% endblock %}
